@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

HTML {
    font-size: 62.5%;
}

:root {
    --bg-dark-1: #181818;
    --black: #111010;
    --primary: #fc3546;
    --grey: #d4cfcf;
    --white: #ffffff;
    --bg-dark-2: #1f1e1e;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: "Montserrat", sans-serif;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
.container {
    max-width: 75%;
    margin-inline: auto;
}

.fa-solid.fa-bars {
    display: none;
}

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-block: 5rem;
}

.logo img {
    width: 10rem;
}

.list {
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    gap: 3rem;
    list-style-type: none;
    text-transform: uppercase;
}

.list li:nth-child(1)::after,
.list li:nth-child(5)::after {
    content: "▼";
}

/* ------------------------------ */
/* ---------- HERO -------------- */
/* ------------------------------ */
.hero {
    display: flex;
    /* justify-content: ; */
    /* position: relative; */
    /* width: 80%; */
    width: 100%;
}

.left-image {
    /* margin-left: -140px;
    margin-top: -80px; */
    width: 100%;
}

.left-image img {
    /* width: 640px; */
    width: 100%;
}

.right-desc {
    /* margin-top: 120px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-desc h4 {
    color: var(--primary);
    font-size: 3rem;
}

.right-desc h1 {
    font-size: 5rem;
    margin-bottom: 10px;
}

.right-desc p {
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.right-desc button {
    background-color: var(--primary);
    border: none;
    color: var(--white);
    font-size: 1.6rem;
    margin-top: 4rem;
    padding: 1.8rem 4rem;
    margin-right: auto;
    text-transform: uppercase;
}


/* ------------------------------ */
/* ---------- SERVICE ------------ */
/* ------------------------------ */

.box {
    background-color: var(--bg-dark-1);
    height: 960px;
    left: -19rem;
    position: absolute;
    /* top: 560px; */
    top: -10rem;
    width: 80rem;
    z-index: -1;
}

.service-section {
    margin-top: 10rem;
    position: relative;
}

.service-cards {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.service-card {
    background-color: var(--bg-dark-2);
    padding: 4rem 5rem;
}



.service-card.two {
    background-color: var(--primary);
    /* flex-grow: 2; */
}

.service-card h1 {
    font-weight: 600;
    margin: 2rem 0;
    font-size: 3rem;
}

.service-card p {
    color: var(--grey);
    font-size: 1.8rem;
}

.service-btn .btn{
    font-size: 1.8rem;
}

.service-btn i {
    color: var(--primary);
    margin-left: 1rem;
    font-size: 2rem;
}

.service-card.two .service-btn i {
    color: var(--white);
}

.service-btn button {
    background-color: transparent;
    border: none;
    color: var(--primary);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 29px;
    text-transform: uppercase;
}

.service-card:nth-child(2) button {
    color: var(--white);
}


/* ------------------------------ */
/* ---------- STATS ------------ */
/* ------------------------------ */

.stats {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.stats .left {
    flex: 0.8;
    text-align: center;
    width: 100%;
}

.stats .left h1 {
    color: var(--primary);
    font-size: 10rem;
    font-weight: 900;

}

.stats .left p {
    font-size: 2.5rem;
    font-weight: 600;
}

.stats .right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    /* margin-left: 10rem; */
    flex: 1.2;
    width: 100%;
}

.stats .right .stats-box {
    align-items: center;
    background-color: var(--bg-dark-2);
    display: flex;
    flex-direction: column;
    height: 12rem;
    justify-content: center;
    /* width: 20rem; */
}

.stats .right .stats-box h1 {
    color: var(--primary);
    font-size: 4.5rem;
}

.stats .right .stats-box p {
    color: var(--grey);
    font-size: 2rem;
    padding-top: 5px;
}

/* ------------------------------ */
/* ---------- PROJECT ------------ */
/* ------------------------------ */
.projects {
    margin-top: 15rem;
}

.headline {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.headline h1 {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

.headline p {
    color: var(--grey);
    margin-block: 1rem;
    font-size: 1.8rem;
}

.headline .right button {
    background-color: var(--primary);
    color: var(--white);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-top: 4rem;
    padding: 1.8rem 4rem;
}

.project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7rem;
}

.project-card .img {
    align-items: center;
    background-color: var(--bg-dark-2);
    display: flex;
    /* height: 25rem; */
    justify-content: center;
    /* width: 33rem; */
    height: 100%;
}

.project-card img {
    width: 90%;
}

.project-card h1 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-block: 1rem;
}

.project-card button {
    color: var(--primary);
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

.project-card i {
    color: var(--primary);
    font-size: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
}


/* ------------------------------ */
/* ---------- CONTACT ------------ */
/* ------------------------------ */
.contact {
    margin-top: 8rem;
}

.contact-box {
    align-items: center;
    background-color: var(--bg-dark-2);
    display: flex;
    justify-content: space-between;
    padding: 7rem 4rem;
    /* background-color: #fff; */
    margin-top: 15rem;
}

.contact-box .left {
    width: 60%;
}

.contact-box .left h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.contact-box .left p {
    color: var(--grey);
    font-size: 1.5rem;
}



.right button {
    background-color: var(--primary);
    border: none;
    color: var(--white);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-top: 4rem;
    padding: 1.8rem 4rem;
}

/* ------------------------------ */
/* ---------- FOOTER ------------ */
/* ------------------------------ */
.footer-menus ul {
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    gap: 1.5rem;
    justify-content: center;
    list-style-type: none;
    text-transform: uppercase;
    margin-block: 4rem;
}

footer {
    background-color: var(--bg-dark-2);
}

.footer-media {
    display: flex;
    align-items: center;
    padding-block: 3rem;
}

.footer-media .logo img {
    height: 4rem;
}

.footer-media .icons {
    margin-left: 40rem;
    display: flex;
    gap: 3rem;
}


@media (width <=425px) {


    HTML {
        font-size: 6px;
    }

    .fa-solid.fa-bars {
        display: block;
        color: var(--primary);
    }

    .navbar {
        margin: 0;
        margin-block: 4rem;
    }

    .navbar .logo img {
        width: 15rem;
    }

    .navbar i {
        font-size: 3rem;
    }

    .navbar .list {
        display: none;
    }



    .hero {
        flex-direction: column;
    }

    .box {
        display: none;
    }

    .right-desc {
        text-align: center;
    }

    .right-desc h4 {
        font-size: 4rem;
    }

    .right-desc h1 {
        font-size: 5rem;
        margin-block: 1rem;
    }

    .right-desc p {
        font-size: 2.5rem;
    }

    .right-desc button {
        font-size: 2rem;
        margin: 0;
        margin-block: 2rem;
    }




    .service-section {
        margin-right: 0;
        margin-inline: auto;

    }

    .service-cards {
        flex-direction: column;
    }

    .service-card {
        background-color: var(--bg-dark-2);
        padding: 5rem;
    }

    .service-card .logo img {
        width: 7rem;
    }

    .service-card h1 {
        font-size: 5rem;
    }

    .service-card p {
        font-size: 2.5rem;
    }

    .service-card .service-btn .btn {
        font-size: 2rem;
    }

    .stats {
        flex-direction: column;
        margin: 0;
        margin-top: 2rem;
        gap: 3rem;
        text-align: center;
    }

    .stats .left h1 {}

    .stats .right {
        /* grid-template-columns: 1fr; */
    }



    .projects {
        margin-inline: auto;
        width: 90%;
        margin-block: 10rem;
    }

    .projects.container .headline {
        margin: 0;
        gap: 0rem;
        margin-bottom: 2rem;
    }

    .projects .headline .left {
        width: 70%;
    }

    .projects .headline .right {
        width: 30%;
    }

    .projects .headline .left h1 {
        font-size: 4rem;
    }

    .projects .headline .left p {
        font-size: 2rem;
    }

    .project-cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 12rem;
    }

    .projects .headline .right {
        display: flex;
        justify-content: center;
    }

    .projects .headline .right button {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        padding: 1.5rem 2rem;
    }

    .project-card h1 {
        font-size: 4rem;
    }

    .project-card button {
        font-size: 2rem;
    }




    .contact-box {
        flex-direction: column;
        text-align: center;
        padding: 4rem 2rem;

    }

    .contact-box .left {
        width: 90%;
    }

    .contact-box .left h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    .contact-box .left p {
        color: var(--grey);
        font-size:2.2rem;
        margin-block: 2rem;
    }

    .contact-box button{
        font-size: 2.5rem;
        padding: 2rem 5rem;
    }

    .footer-menus ul {
        /* font-size: 2rem; */
        display: none;
    }

    .footer-media {
        flex-direction: column;
        gap: 2rem;
        margin-top: 5rem;
    }

    .footer-media .icons {
        margin: 0;
        display: flex;
        gap: 3rem;
    }
}